/* WP Hardening - d595adecb1440d9e05569415b03d53ac19c701e4dbc1bc6c53c0406db2b226a1 */
/*
Theme Name: Twenty Seventeen
Description: IE9 specific styles.
*/

.has-header-image.twentyseventeen-front-page .custom-header,
.has-header-video.twentyseventeen-front-page .custom-header,
.has-header-image.home.blog .custom-header,
.has-header-video.home.blog .custom-header {
	height: 300px;
}

.has-header-image .custom-header-media img,
.has-header-video .custom-header-media video,
.has-header-video .custom-header-media iframe {
	min-width: 100%;
}

@media screen and (min-width: 30em) {

	.has-header-image.twentyseventeen-front-page .custom-header,
	.has-header-video.twentyseventeen-front-page .custom-header,
	.has-header-image.home.blog .custom-header,
	.has-header-video.home.blog .custom-header,
	.twentyseventeen-front-page.has-header-image .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.panel-image {
		height: 700px;
	}
}

@media screen and (min-width: 48em) {

	.has-header-image.twentyseventeen-front-page .custom-header,
	.has-header-video.twentyseventeen-front-page .custom-header,
	.has-header-image.home.blog .custom-header,
	.has-header-video.home.blog .custom-header,
	.twentyseventeen-front-page.has-header-image .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.panel-image {
		height: 1000px;
	}
}
